<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Blood Cancer App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <h1>Blood Cancer Detection System</h1>
</header>

<div class="container">
    <h2>Sign Up</h2>

    <form id="signupForm">
        <input type="text" id="signup_userid" name="user_id" placeholder="User ID" required>
        <input type="email" id="signup_email" name="email" placeholder="Email ID" required>
        <input type="password" id="signup_password" name="password" placeholder="Password" required>

        <button type="submit" id="registerBtn">Register</button>
    </form>

    <p>Already have account? <a href="/">Login</a></p>
</div>

<script src="/static/js/script.js"></script>

</body>
</html>